body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #9d9d9d;
}

footer {
    
    color: #ddd;
    
    text-align: center;
}